src/.vs/MySolution/v15/Server/sqlite3/storage.ide-wal
src/.vs/MySolution/v15/Server/sqlite3/storage.ide-shm
src/.vs/MySolution/v15/Server/sqlite3/storage.ide
src/.vs/MySolution/v15/Server/sqlite3/db.lock
